.tablestyle {

}

.x-grid3-header-extjs {
    background-color: #F9F9F9;
    background-image: url("images/default/grid/grid3-hrow.gif");
    cursor: default;

}

.x-grid3-header-inner-extjs {

    overflow: hidden;
}

.x-grid3-hd-row-extjs td {
    font-size: 11px;
    padding: 4px 3px 4px 5px;
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;
}

.x-grid3-row-extjs {
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;

}

.x-row-bold td {
    font-weight: bold !important;
    background-color: #F9F9F9;
}

.search-item {
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #eeeeee;
    white-space: normal;
    color: #555;
}

.search-item h3 {
    display: block;
    font: inherit;
    font-weight: bold;
    color: #222;
}

.search-item h3 span {
    float: right;
    font-weight: normal;
    margin: 0 0 5px 5px;
    width: 100px;
    display: block;
    clear: none;
}

#app-header {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px 8px 8px;
    text-shadow: 0 1px 0 #fff;
    /*background: url(app-logo.png) no-repeat 8px 8px;*/
}

#app-header .title {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    text-shadow: 0 1px 0 #fff;
    /*background: url(app-logo.png) no-repeat 8px 8px;*/
}

#app-header .subtitle {
    font-size: 12px;
    color: #369;
    /*margin: 10px;*/
}

#order-view .x-panel-body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#order-view .x-panel-body h1 {
    background: #eee;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 14px 15px 10px;
}

#order-view .x-panel-body p {
    padding: 10px 15px 0;
}

.x-tree-selected {
    font-weight: bold;
}

* {
    font-size: 12px;
    font-family: tahoma, arial, verdana, helvetica, sans-serif;
    color: #393939;
}